<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf8">
  	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>幸运10</title>
    <link rel='stylesheet' href='/<%= build %>/style/common.css' />
  </head>
  <body>
  	<div class="outer">
  		<div class="inner">
  			<nav>
  				<i>back</i>
  				<h1>幸运10</h1>
  				<button>right</button>
  				<dl>
  					<dt>玩法说明</dt>
  					<dt>排行榜</dt>
  				</ol>
  				<div class="nav-down">
  					<p class="left">距<strong>024</strong>期截止<span>07:32</span></p>
  					<p class="right">摇一摇清空</p>
  				</div>
  			</nav>
  			<div class="table">
	  			<table>
	  				<tr>
		  				<th>期号</th>
		  				<th>开奖号码</th>
		  				<th>大小</th>
		  				<th>单双</th>
		  				<th>龙虎</th>
	  				</tr>
	  				<tr>
		  				<th>034</th>
		  				<th>05631</th>
		  				<th>大</th>
		  				<th>单</th>
		  				<th>龙</th>
	  				</tr>
	  				<tr>
		  				<th>034</th>
		  				<th>05631</th>
		  				<th>大</th>
		  				<th>单</th>
		  				<th>龙</th>
	  				</tr>
	  				<tr>
		  				<th>034</th>
		  				<th>05631</th>
		  				<th>大</th>
		  				<th>单</th>
		  				<th>龙</th>
	  				</tr>
	  				<tr>
		  				<th>034</th>
		  				<th>05631</th>
		  				<th>大</th>
		  				<th>单</th>
		  				<th>龙</th>
	  				</tr>
	  			</table>
	  			<button>down</button>
			</div>
			<div class="sections">
				<section>
					<h2><strong>单点</strong><strong>1:9.5</strong></h2>
					<ul>
						<li><span>+10</span><div>1</div><i>50</i></li>
						<li><span>+10</span><div>2</div><i>50</i></li>
						<li><span>+10</span><div>3</div><i>50</i></li>
						<li><span>+10</span><div>4</div><i>50</i></li>
						<li><span>+10</span><div>5</div><i>50</i></li>
						<li><span>+10</span><div>6</div><i>50</i></li>
						<li><span>+10</span><div>7</div><i>50</i></li>
						<li><span>+10</span><div>8</div><i>50</i></li>
						<li><span>+10</span><div>9</div><i>50</i></li>
						<li><span>+10</span><div>0</div><i>50</i></li>
					</ul>
				</section>
				<section>
					<h2><strong>大小</strong><strong>1:1.9</strong></h2>
					<ul>
						<li><span>+10</span><div>大</div><i>50</i></li>
						<li><span>+10</span><div>小</div><i>50</i></li>
						<li><span>+10</span><div>单</div><i>50</i></li>
						<li><span>+10</span><div>双</div><i>50</i></li>
					</ul>
				</section>
				<section>
					<h2><strong>组合</strong><strong>1:4</strong></h2>
					<ul>
						<li><span>+10</span><div>大单</div><i>50</i></li>
						<li><span>+10</span><div>大双</div><i>50</i></li>
						<li><span>+10</span><div>小单</div><i>50</i></li>
						<li><span>+10</span><div>小双</div><i>50</i></li>
					</ul>
				</section>
				<section>
					<h2><strong>龙虎</strong><strong>1:4</strong></h2>
					<ul>
						<li><span>+10</span><div>龙</div><i>50</i></li>
						<li><span>+10</span><div>虎</div><i>50</i></li>
						<li><span>+10</span><div>和</div><i>50</i></li>
					</ul>
				</section>
			</div>
			<footer>
				<ol>
					<li><strong>10</strong><strong>点击更改</strong></li>
					<li><strong>已选3注</strong><strong>共150元</strong></li>
					<li><strong>投注</strong><b>3</b></li>
				</ol>
			</footer>
  		</div>
  	</div>
   <script type="text/javascript" src="/libs/zepto/zepto.js"></script>
   <script type="text/javascript" src="/<%= build %>/scripts/commons.js"></script>
   <script type="text/javascript" src="/<%= build %>/scripts/index.js"></script>
  </body>
</html>
