<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>幸运10</title>
	<link rel='stylesheet' href='/<%= build %>/style/common.css' />
</head>
<body>
	<!--主界面-->
	<div class="outer">
		<div class="page">
			<div class="fixed">
				<nav class="nav">
					<i class="return">back</i>
					<h1>幸运10</h1>
					<button>right</button>
					<dl style="display: none;">
						<dt>玩法说明</dt>
						<dt>排行榜</dt>
					</dl>
				</nav>
				<div class="nav-down">
					<p class="left">距<strong>024</strong>期截止<span>07:32</span></p>
					<p class="right">摇一摇清空</p>
				</div>
				<div class="table">
					<table style="display:none;">
						<tr><th>期号</th><th>开奖号码</th><th>大小</th><th>单双</th><th>龙虎</th></tr>
						<tr><td>034</td><td>05631</td><td><img src="/<%= build %>/imgs/icon-refresh.png" alt='refresh'></td><td></td><td></td></tr>
						<tr><td>034</td><td>05631</td><td>大</td><td>单</td><td>龙</td></tr>
						<tr><td>034</td><td>05631</td><td>大</td><td>单</td><td>龙</td></tr>
						<tr><td>034</td><td>05631</td><td>大</td><td>单</td><td>龙</td></tr>
						<tr><td>034</td><td>05631</td><td>大</td><td>单</td><td>龙</td></tr>
						<tr><td>034</td><td>05631</td><td>大</td><td>单</td><td>龙</td></tr>
						<tr><td>034</td><td>05631</td><td>大</td><td>单</td><td>龙</td></tr>
						<tr><td>034</td><td>05631</td><td>大</td><td>单</td><td>龙</td></tr>
						<tr><td>034</td><td>05631</td><td>大</td><td>单</td><td>龙</td></tr>
						<tr><td>034</td><td>05631</td><td>大</td><td>单</td><td>龙</td></tr>
						<tr><td>034</td><td>05631</td><td>大</td><td>单</td><td>龙</td></tr>
					</table>
					<div class="bottom">
						<button class="rotate">down</button>
					</div>
				</div>
			</div>
			<div class="sections" style="">
				<section>
					<h2>单点<strong>1:9.5</strong></h2>
					<ul>
						<li><span>+10</span><div>1</div><i>￥9888</i></li>
						<li><span>+10</span><div>2</div><i>￥9888</i></li>
						<li><span>+10</span><div class="active">3</div><i>￥9888</i></li>
						<li><span>+10</span><div>4</div><i>￥9888</i></li>
						<li><span>+10</span><div>5</div><i>￥9888</i></li>
						<li><span>+10</span><div>6</div><i>￥9888</i></li>
						<li><span>+10</span><div>7</div><i>￥9888</i></li>
						<li><span>+10</span><div>8</div><i>￥9888</i></li>
						<li><span>+10</span><div>9</div><i>￥9888</i></li>
						<li><span>+10</span><div>0</div><i>￥9888</i></li>
					</ul>
				</section>
				<section>
					<h2>大小<strong>1:1.9</strong></h2>
					<ul>
						<li><span>+10</span><div>大</div><i>￥9888</i></li>
						<li><span>+10</span><div class="active">小</div><i>￥9888</i></li>
						<li><span>+10</span><div>单</div><i>￥9888</i></li>
						<li><span>+10</span><div>双</div><i>￥9888</i></li>
					</ul>
				</section>
				<section>
					<h2>组合<strong>1:4</strong></h2>
					<ul class="smallFont">
						<li><span>+10</span><div>大单</div><i>￥9888</i></li>
						<li><span>+10</span><div>大双</div><i>￥9888</i></li>
						<li><span>+10</span><div class="active">小单</div><i>￥9888</i></li>
						<li><span>+10</span><div>小双</div><i>￥9888</i></li>
					</ul>
				</section>
				<section class="last">
					<h2>龙虎<strong><em>1:2</em><em>1:18</em></strong><figure></figure></h2>
					<ul>
						<li><span>+10</span><div>龙</div><i>￥9888</i></li>
						<li><span>+10</span><div>虎</div><i>￥9888</i></li>
						<li><span>+10</span><div class="active">和</div><i>￥9888</i></li>
					</ul>
				</section>
				<p class="tip" style="display:none;">下移撤销</p>
			</div>
			<footer class="footer">
				<ol>
					<li><strong>10元</strong><strong>点击更改</strong></li>
					<li><strong class="middle">已选3注</strong><strong class="middle">共150元</strong></li>
					<li><strong>投注</strong><b>3</b></li>
				</ol>
			</footer>
		</div>
	</div>
	<!--清空弹窗-->
	<div class="outer curtion" style="display:none;">
		<div class="page">
			<div class="alert">
				<h2>撤销所选中的内容?</h2>
				<button>确定</button>
				<button>取消</button>
			</div>
		</div>
	</div>

	<!--选择金额-->
	<div class="outer curtion" style="">
		<div class="page">
			<div class="bet">
				<h2>请选择投注金额</h2>
				<button class="ml">1元</button>
				<button>10元</button>
				<button>100元</button>
				<button class="ml">500元</button>
				<button>1000元</button>
				<button>All in</button>
				<div class="inputs">
					<label>手动输入金额</label>
					<input type="number" id="money">
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/libs/zepto/zepto.js"></script>
	<script type="text/javascript" src="/<%= build %>/scripts/commons.js"></script>
	<script type="text/javascript" src="/<%= build %>/scripts/index.js"></script>
</body>
</html>
